/* -------------------reset----------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none;
}

html, body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smooth: antialiased;
    text-rendering: optimizeLegibility;
    padding:0;
    margin:0;
    font-size: calc(1em + 1vw);
}

::selection {
    color: rgba(255,255,255,.99);
    background: rgba(0,0,0,.99);
}
::-moz-selection {
    color: rgba(255,255,255,.99);
    background: rgba(0,0,0,.99);
}





/* ------------Text-------------- */

h1 {
    font-family: 'Heebo', sans-serif;
    font-weight: 700;
    position: fixed;
    line-height: 110%;
    letter-spacing: -2px;
    font-size: 3.2em; /* general fallback */
    font-size: 18vm; /* IE9 fallback */
    /*     font-size: 19vmin; */
    font-size: 18vmin;


}

.txt-red {
    color: #ea0f1e;
}
.txt-black {
    color: #000000;
}
.txt-gray {
    color: #888888;
}
.txt-white {
    color: #ffffff;
}

/* ------ Text styles ------ */




/* ------ Delays ------ */
.delay02 { -webkit-animation-delay: .2s; animation-delay: .2s;}
.delay04 { -webkit-animation-delay: .4s; animation-delay: .4s;}
.delay06 { -webkit-animation-delay: .6s; animation-delay: .6s;}
.delay08 { -webkit-animation-delay: .8s; animation-delay: .8s;}
.delay10 { -webkit-animation-delay: 1s; animation-delay: 1s;}
.delay12 { -webkit-animation-delay: 1.2s; animation-delay: 1.2s;}


/* ------ Hovers ------ */
.on-hover-40, .on-hover--40 {
    transition: all .4s cubic-bezier(0.2, 0.6, 0.2, 1);
}
.on-hover-40:hover {
    margin-left: 40px;
    transition: all .4s cubic-bezier(0.2, 0.6, 0.2, 1);
}
.on-hover--40:hover {
    margin-left: -40px;
    transition: all .4s cubic-bezier(0.2, 0.6, 0.2, 1);
}

